[Unit]
Description=Node Cat Server
Requires=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/www/html/webapp
ExecStart=/bin/bash -lc 'PORT=4000 nodejs index.js'
TimeoutSec=30
RestartSec=15s
Restart=always

[Install]
WantedBy=multi-user.target